:root {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.8em;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.content-with-media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.text-content {
  flex: 1 1 60%; /* Adjust the width as needed */
  padding-right: 2rem; /* Adds some space between the text and the image */
}

.media-content {
  flex: 1 1 40%; /* Adjust the width as needed */
  text-align: right; /* Aligns the image to the right */
}

.media-content * {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .content-with-media {
    flex-direction: column;
  }

  .text-content,
  .media-content {
    flex-basis: 100%;
  }

  .text-content {
    margin-bottom: 2rem;
  }
}
