html,
body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 100dvw;
  width: 100%;
  /* TODO: Why does this mess up with the current UI? */
  /* overflow-x: hidden; */
}

* {
  box-sizing: border-box;
  /* This cannot work while we have the legacy globals */
  /* padding: 0; */
  /* margin: 0; */
}
