.homeLink div {
  border: 1px solid #343a40;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #008AFF;
  font-size: 18px;
}

.homeLink:hover div {
  background-color: hsl(210, 10%, 23%);
  color: white;

}