@use 'styles/colors';
@use 'styles/text';

.base {
  color: colors.$textMain;
}

.align {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}



.body1 {
  font-size: text.$body1FontSize;

  &-gutter {
    margin-bottom: text.$body1Gutter;
  }
}

.body1 {
  font-size: text.$body1FontSize;

  &-gutter {
    margin-bottom: text.$body1Gutter;
  }
}